footer {
    min-height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
footer > h2 {
    font-size: 15px;
    margin: 15px;
    text-align: left;
    border-style: solid;
    color: rgb(198, 198, 43);
    border-left-width: 25px;
    border-radius: 0px 10px 10px 0px;

}
footer > p {
    letter-spacing: 0px;
    text-align: right;
    margin-right: 15px;
    font-size: 20px;
}
