@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Red+Hat+Mono:wght@300&family=Roboto&family=Staatliches&display=swap');

body {
  background-color: #242e36;
  margin: 0;
  
  font-family: 'Roboto', sans-serif;
  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;

  color: white;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin: 0;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

